body{
    width: 100%;
    height: 800px;
    background-size: 100% 100%;
    background-image: url("https://f16.photo.talk.zdn.vn/4409676104870541366/2d782a4baa21587f0130.jpg");
}

h1{
    color: #00ff04;
}
#ip-1{
    margin: 0 0 10px 0;
    width: 210px;
    height: 25px;
}
button:hover{
    color: red;
}
#win{
    background-image: url("https://f12.photo.talk.zdn.vn/1547444473878461587/5c57a6f8fe8d0cd3559c.jpg");
    position:absolute;
    width: 50%;
    height: 50%;
    left: 35%;
    top: 10%;
    display: block;
    background-repeat: no-repeat;
}
.modal:hover {
    position: absolute;
    display: block;
    right: 20px;
    top: 4px;
    cursor: pointer;
}






